extends ../_partial/layout

block content
  .container
    -var groupBy = (xs, k) => xs.reduce((rv, x) => { (rv[x[k]] = rv[x[k]] || []).push(x); return rv }, {});
    each group in Object.entries(groupBy(site.posts.data.map((e) => {e.year = e.date.year(); return e;}), 'year')).sort((a, b) => a[0] - b[0])
      .year-wrap
        .year
          a.title(href=url_for(config.archive_dir + '/' + group[0]))= group[0]
      .archives
        each post in group[1]
          .post-archive
            .post-archive__content
              .post-archive__month= time(post.date, 'MMM')
              .post-archive__body
                a.post-archive__title(href=url_for(post.path))= post.title || 'untitled'
                .post-archive__excerpt
                  .post-archive__excerpt-content!= post.excerpt
